# Virtual environment
.dj_venv/
.venv/
env/


# Environment variables
.env
.streamlit/secrets.toml

# CSV files (if they are sensitive or generated)
*.csv

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
.cursorignore

# Pycache
__pycache__/
